<%- include('../layouts/header') %>

<div class="container">

    <h3 class="mb-3 mt-3">All Todo Items</h3>


<% if( todos.length > 0 ) {  %>

    <div class="row">

        <% todos.forEach(function(todo) { %> 
            <%- include('../partials/todocard', { todo: todo }) %> 
        <% }) %>
    </div>

    <% } else {  %>
        <p>No todo items.</p>
    <% } %>

</div>


<%- include('../layouts/footer') %>